In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

In [13]:
data = pd.DataFrame()
data['name'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
data['age'] = [14, 12, 11, 10, 8, 6, 8]
print(data)

     name  age
0    Greg   14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5   Cindy    6
6  Oliver    8

In [3]:
data.age.mean()

9.857142857142858

In [4]:
data.age.median()

10.0

In [5]:
data.age.mode()

0    8
dtype: int64

In [6]:
import statistics
statistics.mode(data['age'])

8

In [7]:
np.var(data.age)

6.408163265306122

In [8]:
np.std(data.age)

2.531435020952764

In [9]:
np.std(data.age) / np.sqrt(len(data.age))

0.9567925036515135

In [10]:
#Using these estimates, if you had to choose only one estimate of central tendency
# and one estimate of variance to describe the data, which would you pick and why?

#Answer: Median and Standard Deviation. Age is often reported as a whole number, 
#optically makes sense to use median here even though no major age outliers or skewed distribution
#Not a sample of a larger population, use std

In [18]:
#Next, Cindy has a birthday. Update your estimates- what changed, and what didn't?
#data.loc[data['name']=='Cindy', data['age']] = 7 
#^why doesn't this work?

#data['age'][5] = 7
data.at[5, 'age'] = 7

In [19]:
print(data)

     name  age
0    Greg   14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5   Cindy    7
6  Oliver    8

In [20]:
#mean changes, median and mode the same. Var/Std Dev change
np.var(data.age)

5.428571428571429

In [21]:
np.std(data.age)

2.32992949004287

In [22]:
#4. Nobody likes Cousin Oliver. Maybe the network should have used an even younger actor. 
#Replace Cousin Oliver with 1-year-old Jessica, then recalculate again. 
#Does this change your choice of central tendency or variance estimation methods?
data.loc[6:6, 'name':'age']='Jessica',1

In [23]:
data

      name  age
0     Greg   14
1   Marcia   12
2    Peter   11
3      Jan   10
4    Bobby    8
5    Cindy    7
6  Jessica    1

In [25]:
data.age.mean()

9.0

In [26]:
data.age.median()

10.0

In [27]:
#might use the mean age, still use std.
np.var(data.age)

15.428571428571429

In [28]:
np.std(data.age)

3.927922024247863

In [29]:
poll=pd.DataFrame()

In [30]:
#5 what percent do you think are fans based on 4 polls
poll['fan_percent']=[20,23,17,5]

In [31]:
np.std(poll['fan_percent'], ddof=1) / np.sqrt(len(poll['fan_percent']))

3.944933459514875

In [37]:
poll_mean = poll.fan_percent.mean()
poll_SE = np.std(poll['fan_percent'], ddof=1) / np.sqrt(len(poll['fan_percent']))
poll_upper = poll_mean + poll_SE
poll_lower = poll_mean - poll_SE

In [38]:
poll_answer = 'Between {}% and {}% of adult Americans are estimated to be fans of the show'.format(poll_lower, poll_upper)

In [39]:
print(poll_answer)

Between 12.305066540485125% and 20.194933459514875% of adult Americans are estimated to be fans of the show